html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.container {
  padding: 20px 0px 20px 0px;
  width: 95%;
}
.scrollPosition {
  text-align: left;
  font-size: 14px;
}
.cap {
  width: 90%;
  position: relative;
  /* left: 5%;  */
  margin: auto;
  margin-top: 2em;
}

.calendar {
  width: 90%;
  /* margin-top: 3em; */
  position: absolute;
}

.scrollWrapper {
  margin-top: -1px;
  height: 400px;
  overflow: auto;
}

.scrollWrapper2 {
  position: relative;
}

.not-current {
  color: #aaa;
}

td.hasNote {
  box-shadow: inset 0px 0px 0px 3px #00d1d1;
}

th,
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dcdcff;
  width: 14%;
  position: relative;
}

.nowDay {
  font-weight: bold;
  font-size: 20px;
}

.monthName {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.container_select {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.6em;
}

.months {
  width: 122px;
  height: 32px;
  border: 1px solid #dcdcff;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.years {
  width: 122px;
  height: 32px;
  border: 1px solid #dcdcff;
  vertical-align: middle;
}

.btnPrev {
  float: left;
  margin-bottom: 20px;
}

.btnPrev:before {
  content: "\f104";
  font-family: FontAwesome;
  padding-right: 4px;
}

.btnNext {
  float: right;
  margin-bottom: 20px;
}

.btnNext:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 4px;
}

.arrow {
  width: 12em;
  position: absolute;
  top: 1px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 16px #0004, 0 0 0;
  border: 1px solid #aaa;
  z-index: 1;
  margin-left: 15px;
}

.textInput {
  width: 70%;
  margin: 15px;
  color: #666;
  font-family: Brown, Helvetica, sans-serif;
  font-size: 12pt;
  border: #fff;
}

.arrow-textInputPopup {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  overflow: hidden;
}

.arrow-textInputPopup::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
  left: 100%;
  top: 50%;
  border: 1px solid #aaa;
}

.arrow-textInputPopup-after::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
  left: 2%;
  top: 50%;
  box-shadow: 0 0 16px #0004;
  border: 1px solid #aaa;
}

.date {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.btnPrev,
.btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  .btnPrev,
  .btnNext {
    display: none;
  }

  .arrow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1rem;
    left: 0%;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 0 0px #0004, 0 0 0;
    border: 0px solid #aaa;
    z-index: 1;
    margin-left: 0%;
  }

  .arrow-textInputPopup {
    display: none;
  }

  .textInput {
    width: 90%;
    height: 20%;
    margin: 15px;
    color: #666;
    font-family: Brown, Helvetica, sans-serif;
    font-size: 12pt;
    border: #fff;
  }
}



img {
  position: fixed;
  top: 10px;
  right: 20px;
  display: inline;
  height: 32px;
  width: 32px;
  z-index: 2;
}

.btnPrev:hover,
.btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

#editor-container {
  height: 375px;
}