.container {
  padding: 20px 0px 20px 0px;
}
.calendar {
  width: 90%;
  margin: auto;
}

.not-current {
  color: #aaa;
}

th,
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dcdcff;
  width: 14%;position: relative;
}

.nowDay {
  font-weight: bold;
  background: #ccc;
}
.textInputPopup {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;right:0;top:50%;margin-top: -10px;
}
.monthName {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

#btnPrev {
  float: left;
  margin-bottom: 20px;
}

#btnPrev:before {
  content: "\f104";
  font-family: FontAwesome;
  padding-right: 4px;
}

#btnNext {
  float: right;
  margin-bottom: 20px;
}

#btnNext:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 4px;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}
